# .env.example file
# Direct connection to the database. Used for migrations
DATABASE_URL=" "
# Application Port
PORT = 
# JWT Secret
JWT_SECRET=your-super-secret-key-faqih
# key from https://platform.openai.com/
OPENAI_API_KEY=
# key from https://console.groq.com/
GROQ_API_KEY=
