# .env.example

# Example for PostgreSQL (used in Prisma Migrate and Prisma Client):
DATABASE_URL=""
# Application Port
PORT = 
# JWT Secret
JWT_SECRET=
# key from https://platform.openai.com/
OPENAI_API_KEY=
# key from https://console.groq.com/
GROCK_API_KEY=